body {
    height: 100vh;
    background-image: url(./assets/1.jpg), url(./assets/2.jpg), url(./assets/3.jpg), url(./assets/4.jpg),url(./assets/1.jpg), url(./assets/2.jpg), url(./assets/3.jpg), url(./assets/4.jpg);
    background-repeat: no-repeat;
  background-size: 25% 50%;
  background-position:
    1% 0%,
    34% 0%,
    67% 0%,
    100% 0%,
 
    1% 100%,
    34% 100%,
    67% 100%,
    100% 100%;
}